body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

/* ログイン画面 */
.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.login-title {
    font-size: 22px;
    margin-bottom: 20px;
}

/* フォーム要素 */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 3px;
}

/* ログインボタン */
.login-button {
    width: 104%;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #333;
}
